@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

:root {
    --color1: #F7ECDE;
    --color2: #E9DAC1;
    --color3: #9ED2C6;
    --color4: #54BAB9;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color1);
}

p {
    margin: 0;
}

.main_container {
    box-sizing: border-box;
    display: grid;
    grid: auto 3fr / 1fr 4fr;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: .05em;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Sidebar */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 3em;
    background-color: var(--color3);
}

.logo {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
}

.logo > img {
    height: 1.5em;
    width: 1.5em;
}

.menu_top {
    display: grid;
    grid: repeat(6, 3em) / 1fr;
}

.menu_bottom {
    display: grid;
    grid: repeat(3, 3em) / 1fr;
}

.icon {
    height: 1.5em;
}

.sidebar_options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

/* Header */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    justify-items: end;
    align-items: end;
    padding: 1.5em 2em;
}

.header .searchbox,
.header .top_nav {
    align-self: start;
}

.header .searchbox,
.header .user_info {
    justify-self: start;
}

.searchbox {
    position: relative;
}

.searchbox > img {
    position: absolute;
    left: 10px;
    top: 7px;
}

.searchbox > input {
    border: none;
    border-radius: 50px;
    height: 2em;
    padding-left: 50px;
    width: 700px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: inherit;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.avatar {
    width: auto;
    border-radius: 50%;
}

.top_nav > .avatar {
    height: 40px;
}

.top_nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user_info {
    display: grid;
    grid: 1fr 1fr/ 70px 1fr;
    row-gap: 0px;
    column-gap: 1em;
    align-items: center;
}

.user_info > img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 70px;
}

.user_info .greeting {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.user_info .main_user_name {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.2em;
    font-weight: 500;
}

.nav_btns {
    display: flex;
    gap: 2em;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: var(--color3);
    border: none;
    padding: .5em 1.5em;
    border-radius: 50px;
}

button:hover {
    background-color: var(--color4);
    cursor: pointer;
}

/* Main content */

.main_content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid: 1fr / 3fr 1fr;
    gap: 1em;
    padding: 2em;
}

/* Sub-sections */

.project_container{
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.right_bar {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Projects */

.projects {
    flex: 1;
    grid-row: 1 / 3;
    display: grid;
    grid: 1fr / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1em;
}

.sub_container {
    background-color: var(--color2);
    border-radius: 1em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-weight: 700;
    margin: 0 0 1em 0;
}

.title {
    font-weight: 500;
}

.icon_group {
    display: flex;
    gap: 1em;
    align-self: end;
}

.icon_group > img {
    height: 1.5em;
}

/* Announcements */ 

.announce_container {
    font-size: .7em;
    line-height: normal;
}

.line {
    height: 1px;
    background-color: #F7ECDE;
    margin: 1em 0;
}

/* Trending */

.trending {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.trending .user {
    display: grid;
    grid: 1fr 1fr/ 40px 1fr;
    row-gap: 0px;
    column-gap: 1em;
    align-items: center;
}

.trending .avatar {
    height: 40px;
    width: 40px;
}

.user img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.user div {
    font-size: .7em;
    line-height: normal;
}

.user div:last-child {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.user div:nth-child(2) {
    font-weight: 500;
}